<!-- I will have to come back to this and create proper if statement logic to mayb e shift the headers/head to include different stylesheets maybe, ran out of time. -->

<%- include('partials/headexp') %>
<%- include('partials/headerexp') %>

<body>
  <main>
  

   <figure class="expandedFigure">
      <img src="../images/lrg/<%= image.fileName %>" alt="<%= image.title %>" class="expandedImage">
        <figcaption class="expandedCaption">
          <a href="<%= image.attribution.url %>" class="authorAttribution">
            <%= image.attribution.credit %>
          </a>
          <P>
            <%= image.attribution.source %>
          </P>
        </figcaption>
      </figure>
      
  </main>
<%- include('partials/footer') %>
</body>
</html>